<header><h3>RxJS: The Spy Life - Dashboard</h3></header>

<button
  class="donate-button"
  mat-raised-button>
  <a (click)="onDonate()" href="https://ng-atl.org/#/foundation" target="_blank"><h3>Donate to </h3><img src="./../assets/ngATL_logo.svg"></a>
</button>

<div class="page">
  <div class="newsfeed">
    <h1>Newsfeed</h1>
    <mat-card class="form-container">
      <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="posting-form" (ngSubmit)="onSubmit()" [formGroup]="form">
          <mat-form-field class="name-input" floatLabel="always">
            <input #nameInput matInput placeholder="Name *" formControlName="name"/>
          </mat-form-field>
          <mat-form-field class="post-input" floatLabel="always">
            <mat-label>Tell us something interesting! *</mat-label>
            <textarea
              #postingInput
              matInput
              cdkTextareaAutosize
              cdkAutosizeMaxRows="5"
              formControlName="text">
          </textarea>
          </mat-form-field>
          <div class="button-group">
            <div>
              <button mat-button type="button" (click)="clearPost()">Clear</button>
              <button mat-button type="submit">Save</button>
            </div>
            <button mat-button type="button"
                    (click)="onRandomAvatarClick()">
              <mat-icon
                matTooltip="Surprise me with a random avatar!">
                supervisor_account
              </mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="serverMessages.length">
      <mat-card-header>
        <mat-card-title>Posts</mat-card-title>
      </mat-card-header>
    </mat-card>
    <div *ngIf="serverMessages.length" class="post-container" [class.active-newsfeed]="serverMessages.length > 7" [class.active-newsfeed-mobile]="serverMessages.length > 2">
      <mat-card *ngFor="let mess of serverMessages" class="post">
        <div class="post-header">
          <mat-icon>{{ mess.icon }}</mat-icon>
          <div class="text-container">
            <h4>{{ mess.post.name || 'Lorelai Gilmore' }}</h4>
          </div>
        </div>
        <p class="post-text">{{ mess.post.text || 'I love ngAtl! &hearts;' }}</p>
        <div class="reaction-container">
          <button
            mat-button
            (click)="onPostLike(mess.id)">
            <mat-icon *ngIf="!mess.likes">
              favorite_border
            </mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="dashboard">
    <h1>Dashboard</h1>
    <mat-card class="chart-container">
      <mat-card-header>
        <mat-card-title>Feature Interaction Pie Chart Visual</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-pie-grid
          class="chart"
          [results]="chartData"
          [scheme]="'flame'"
          [animations]="false"
          label="Count">
        </ngx-charts-pie-grid>
      </mat-card-content>
    </mat-card>
    <mat-card class="chart-container">
      <mat-card-header>
        <mat-card-title>Feature Interaction Bar Chart Visual</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-bar-horizontal
          class="chart"
          [results]="chartData"
          [scheme]="'flame'"
          [animations]="false"
          [xAxis]="true"
          [yAxis]="true"
          [yAxisLabel]="'Features'"
          [showYAxisLabel]="true"
          [xAxisLabel]="'Interactions'"
          [showXAxisLabel]="true"
          label="Count">
        </ngx-charts-bar-horizontal>
      </mat-card-content>
    </mat-card>
    <div class="count-container">
        <mat-card class="stats-container">
          <mat-card-header>
            <mat-card-title>Stats</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <h3>Post Like Count: <span>{{ stats.postLikeCount.count }}</span></h3>
            <h3>Clear Count: <span>{{ stats.clearCount.count }}</span></h3>
            <h3>Random Avatar Count: <span>{{ stats.randomAvatarCount.count }}</span></h3>
            <h3>Donation Count: <span>{{ stats.donationCount.count }}</span></h3>
          </mat-card-content>
        </mat-card>
        <div class="stats-container">
          <mat-card>
            <mat-card-header>
              <mat-card-title>Post Count</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1><mat-icon>comment</mat-icon>{{ postStatMessage }}</h1>
            </mat-card-content>
          </mat-card>
          <mat-card>
            <mat-card-header>
              <mat-card-title>Donation Count</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <h1><mat-icon>accessibility_new</mat-icon>{{ donationStatMessage }}</h1>
            </mat-card-content>
          </mat-card>
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
