<header>
  ngAtlanta Community Hub
</header>

<!--<img src="../assets/ngATL_logo.svg">-->
<div class="page">
  <div class="newsfeed">
    <h1>Newsfeed</h1>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Create Post</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="posting-form" (ngSubmit)="onSubmit()" [formGroup]="form">
          <mat-form-field class="name-input" floatLabel="always">
            <input #nameInput matInput placeholder="Name *" formControlName="name"/>
          </mat-form-field>
          <mat-form-field class="post-input" floatLabel="always">
            <mat-label>Tell us something interesting! *</mat-label>
            <textarea
              #postingInput
              matInput
              cdkTextareaAutosize
              cdkAutosizeMinRows="2"
              cdkAutosizeMaxRows="5"
              formControlName="text">
          </textarea>
          </mat-form-field>
          <div class="button-group">
            <div>
              <button mat-button type="button" (click)="clearPost()">Clear</button>
              <button mat-button type="submit">Save</button>
            </div>
            <button mat-button type="button"
                    (click)="onRandomAvatarClick()">
              <mat-icon
                matTooltip="Surprise me with a random avatar!">
                supervisor_account
              </mat-icon>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
    <div class="post-container">
      <mat-card *ngFor="let mess of serverMessages" class="post">
        <div class="post-header">
          <mat-icon>{{ mess.icon }}</mat-icon>
          <div class="text-container">
            <h4>{{ mess.post.name || 'Lorelai Gilmore' }}</h4>
          </div>
        </div>
        <p class="post-text">{{ mess.post.text || 'Lorem ipsum hello, my name is Lorelai Leigh Gilmore. I am played by Lauren Graham.' }}</p>
        <div class="reaction-container">
          <button
            mat-button
            (click)="onPostLike(mess.id)">
            <mat-icon *ngIf="!mess.likes">
              favorite_border
            </mat-icon>
            <!--<mat-icon *ngIf="mess.likes">favorite</mat-icon>-->
          </button>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="dashboard">
    <h1>Dashboard</h1>
    <mat-card class="pie-chart-container">
      <mat-card-header>
        <mat-card-title>Features</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-pie-grid
          class="pie-chart"
          [results]="pieData"
          [scheme]="'forest'"
          doughnut="true"
          animations="false"
          label="Count">
        </ngx-charts-pie-grid>
      </mat-card-content>
    </mat-card>
    <mat-card class="stats-container">
      <mat-card-header>
        <mat-card-title>Stats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <h4>Post Like Count: {{ stats.postLikeCount.count }}</h4>
        <h4>Clear Count: {{ stats.clearCount.count }}</h4>
        <h4>Random Avatar Count: {{ stats.randomAvatarCount.count }}</h4>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Post Count: {{ stats.postCount.count }}</mat-card-title>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
