<div class="page">
  <div class="newsfeed">
    <mat-form-field floatLabel="never">
      <input matInput placeholder="Name"/>
    </mat-form-field><mat-form-field floatLabel="never">
    <input matInput placeholder="Tell us something interesting!"/>
  </mat-form-field>
    <mat-card class="post">
      <div class="post-header">
        <mat-icon>face</mat-icon>
        <div class="text-container">
          <h4>Name</h4>
          <p>Time stamp</p>
        </div>
      </div>
      <p class="post-text">Lorem ipsum hello, my name is Lorelai Leigh Gilmore. I am played by Lauren Graham.</p>
    </mat-card>
  </div>

  <div class="dashboard">
    <mat-card>
      <mat-card-title>4 posts!</mat-card-title>
    </mat-card>
  </div>
</div>

<router-outlet></router-outlet>
